1. must be cold inside the box
2.we mustn't use too much energy
3.see temperature
4.see whether it's on or off
__________________________________
1.must be on less than 10 celsius
2.cooler must be on
3.must be working when car is started